* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--DesaturatedDarkCyan: hsl(180, 29%, 50%);
	--LightGrayishCyan1: hsl(180, 52%, 96%); /* Background */
	--LightGrayishCyan2: hsl(180, 31%, 95%); /* Filter Tablets */
	--DarkGrayishCyan: hsl(180, 8%, 52%);
	--VeryDarkGrayishCyan: hsl(180, 14%, 20%);
	--box-shadow: 0 2px 24px hsla(180, 29%, 50%, 0.25);
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	outline: none;
	border: none;
	font-family: "League Spartan";
}

body {
	font-size: 15px;
	font-family: "League Spartan";
}

li {
	list-style: none;
}
